<center><h1>Bienvenido a la web Contoso</h1></center>
<h3>Nosotros nos encargaremos de ayudarle a 
seleccionar el mejor software para tu empresa.</h3>


<%= link_to 'Lista de Productos', products_path , :class => "btn btn-light" %>