
    <h1>Edición de Producto</h1>


    <%= render 'form', product: @product %>


    <%= link_to 'Mostrar', @product, :class => "btn btn-light"  %> |
    <%= link_to 'Atrás', products_path, :class => "btn btn-light"  %>

