<div class="container">

    <h1>Nuevo Producto</h1>

    <div class="container">
        <%= render 'form', product: @product %>
    </div>

    <%= link_to 'Atrás', products_path, :class => "btn btn-light"  %>

</div>