<div class="container">

     <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nuevo Producto</h1>
              <span class="color-text-a">Por favor completar los datos requeridos para crear el producto.</span>
            </div>
          </div>
        </div>
      </div>
  </section>

    <div class="container">
        <%= render 'form', product: @product %>
    </div>

    <%= link_to 'Atrás', products_path, :class => "btn btn-light"  %>

</div>